/* || BASE FONT STYLES */

.navbar-brand h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.navbar-brand > a, .navbar-brand > a:hover, .navbar-brand > a:focus {
    text-decoration: none; /* no underline */
}

.nav-item > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

h2 {
    color: #ed1c6f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #000;
}

p {
    font-family: 'Lora', serif;
}

.menu-sections a {
    color: #ed1c6f;
}
.menu-sections a:hover, .menu-sections a:focus {
    text-shadow: 2px 1px 2px rgba(0,0,0,0.3);
}

/* || NAVBAR STYLING */
.navbar-toggler {
    background-color: #ed1c6f;
}
/* required to make all drop elements span entire width/ height */
.navbar-collapse {
    margin: 0 -12px -12px -12px;
}
.navbar-dropdown {
    background-color: #6d686a;
}

.nav-item {
    border: 1px solid black;
}

/* || HEADER STYLYING */
#header-nav {
    border-radius: 0;
    border: 0;
}

/* || MAIN CONTENT STYLING */
.menu-sections .section-column {
    background-color: #d3d3d3;
}